{
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "bracketSameLine": false,
  "arrowParens": "always",
  "semi": false,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore"
}